<section id="career-profile" class="section summary-section text-fade show-on-scroll">

<h2 class="section-title"><i class="fas fa-user"></i>Career Profile</h2>
<div class="summary">
    <p>Highly motivated researcher with three years of experience in molecular biology. 
        Proven to have excellent communication and problem-solving skills. Excelled academically graduating with a
         first-class honours and 5.9 / 6.0 in my Master’s degree. Aiming to utilize my skills in the biotech industry
          to deliver product excellence and produce innovative solutions.</p>
</div><!--//summary-->
</section><!--//section-->