    <div class="education-container container-block">
    <h2 class="container-block-title">Education</h2>
    <div class="item">
        <h4 class="degree">PhD in Molecular Biology</h4>
        <h5 class="meta">University of Edinburgh</h5>
        <div class="time">2019 - 2023</div>
    </div><!--//item-->
    <div class="item">
        <h4 class="degree">MSc in Neuroscience</h4>
        <h5 class="meta">University of Zurich</h5>
        <div class="time">2014 - 2016</div>
    </div><!--//item-->
    <div class="item">
        <h4 class="degree">BSc in Neuroscience</h4>
        <h5 class="meta">University of Glasgow</h5>
        <div class="time">2010 - 2014</div>
    </div><!--//item-->
    </div><!--//education-container-->
