<section id="experience-section" class="section experiences-section text-fade show-on-scroll">
                <h2 class="section-title"><i class="fas fa-briefcase"></i>Experience</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Doctoral Candidate</h3>
                            <div class="time">August 2019 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company">University of Edinburgh, Edinburgh</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p> 
                        I decided to pursue a Ph.D. due to my passion for science. Having worked extensively in the neuroscience field, I wanted to focus more on molecular biology another subject that I have long been interested in.   
                        </p>  
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Researcher</h3>
                            <div class="time">May 2016 - November 2019</div>
                        </div><!--//upper-row-->
                        <div class="company">Karolinska Institute, Stockholm</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p> 
                            During my time at the Karolinska institute, I studied molecular mechanisms of Parkinson’s disease. My work focused on using cellular models to investigate lipid homeostasis in patients with GBA1 mutations.
                        </p>  
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Master Student</h3>
                            <div class="time">October 2014 - December 2015</div>
                        </div><!--//upper-row-->
                        <div class="company">Institute for neuropathology, University hospital Zurich, Zurich</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p> 
                            My project at the university of Zurich focussed on developing a high throughput siRNA screen for genetic modifiers of prion disease.
                            My responsibilities included optimizing FRET signal produced by using customized antibodies targetting two different epitopes of the prion protein.
                            I collaborated with other team members to develop an automated liquid handling system and analysis pipeline that would allow us to conduct a small pilot screen.
                        </p>  
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Student researcher</h3>
                            <div class="time">January 2014 - May 2014</div>
                        </div><!--//upper-row-->
                        <div class="company">University of Glasgow, Glasgow</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>I took on a research project looking at the distribution of glycinergic neurons in the rat spinal cord.</p>  
                        
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Intern</h3>
                            <div class="time">June 2013 - July 2013</div>
                        </div><!--//upper-row-->
                        <div class="company">Inselspital, Bern</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>My project was focussed on identifying novel single nucleotide polymorphisms in cholesterol genes.</p>  
                    </div><!--//details-->
                </div><!--//item-->
                
            </section><!--//section-->