<section id="projects-section" class="section projects-section text-fade show-on-scroll">
                <h2 class="section-title"><i class="fas fa-archive"></i>Projects</h2>
                <div class="intro">
                    A brief overview of my past projects. Please click the project to download a project report.
                </div><!--//intro-->
                <div class="item">
                    <span class="project-title"><a href="/online-cv/assets/documents/001 PRINTED The Prion protein.pdf" target="_blank"><i class="fas fa-file-pdf"></i>High-throughput siRNA screen</a></span> - 
                    <span class="project-tagline">I helped develop a high-throughput screen searching for genetic modifiers of prion disease</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="/online-cv/assets/documents/220114 Glycine is enriched in a selective subset.pdf" target="_blank"><i class="fas fa-file-pdf"></i>Glycinergic interneurons in rat spinal cord</a></span> - 
                    <span class="project-tagline">I worked on mapping inhibitory interneurons in the rat spinal cord. </span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="/online-cv/assets/documents/00 Kappa.pdf" target="_blank"><i class="fas fa-file-pdf"></i>Saposin C as a viable modulator of Parkinson's disease</a></span> - 
                    <span class="project-tagline">My work showed that Saposin C can decrease levels of α-synuclein and be protective in Parkinson's disease</span>
                </div><!--//item-->
            </section><!--//section-->