<section id="publications-section" class="section projects-section text-fade show-on-scroll">
    <h2 class="section-title"><i class="fas fa-flask"></i>Publications &amp; Conference reports</h2>
    <div class="intro">
    </div><!--//intro-->
    <div class="item">
        <span class="project-title"><a href="https://www.sciencedirect.com/science/article/abs/pii/S0304394019303453" target="_blank"><i class="fas fa-file-pdf"></i>GBA RNAi but not catalytic inhibition of glucocerebrosidase with Conduritol-β-epoxide increases levels of total α-synuclein in SH-SY5Y cells (2019)</a></span> - 
        <span class="project-tagline">First author publication about the role of glucocerebrosidase in Parkinson's disease</span>
    </div><!--//item-->
    <div class="item">
        <span class="project-title"> <a href="/online-cv/assets/documents/Neuroscience_phd_conference.pdf" target="_blank"><i class="fas fa-file-pdf"></i>Glucocerebrosidase in Parkinson's disease: a novel cellular pathway to target</a></span> - 
        <span class="project-tagline">Presentation at the Karolinska Neuroscience Ph.D. conference in Norway</span>
    </div><!--//item-->
    <div class="item">
        <span class="project-title"><a href="/online-cv/assets/documents/SystemsX_2015_09_V3.pdf" target="_blank"><i class="fas fa-file-pdf"></i>A genome-wide murine siRNA screen to investigate the molecular machinery governing PrPc biosynthesis and PrPsc propagation (2015)</a></span> - 
        <span class="project-tagline">Poster presentation at the SystemX day in Switzerland</span>
    </div><!--//item-->
</section><!--//section-->