
<section id="reference-section" class="section references-section">

  <h2 class="section-title"><i class="fas fa-file"></i>References</h2>
    
  <a class="button1" href="#popup">Per Svenningsson (KI)</a>
  <div class="popup" id="popup">
    <div class="popup-inner">
      <div class="popup__photo">
        <img src="assets/images/Reference_Svenningsson.svg" alt="">
      </div>
      <div class="popup__text">
        <h1>Research Associate Karolinska Institute</h1>
        <p>I received a very good reviews from my supervisor Per Svenningson, a member of the Nobel comittee. Please download full-size PDF
          <a href="assets/images/Reference_Svenningsson.pdf" target="_blank"><img class="pdf-img" src="assets/images/PDF-icon.svg" alt=""></a>
        </p>
      </div>
      <a class="popup__close" href="#references">X</a>
    </div>
  </div>

  <a class="button1" href="#popup3">Vesna Lazarevic (KI)</a>
  <div class="popup" id="popup3">
    <div class="popup-inner">
      <div class="popup__photo">
        <img src="assets/images/Reference_Vesna.svg" alt="">
      </div>
      <div class="popup__text">
        <h1>Research Associate Karolinska Institute</h1>
        <p>Vesna was one of my colleagues at the Karolinska Insitute, she helped me learn the necessary skills to complete my project. Please download full-size PDF
          <a href="assets/images/Reference_Vesna.pdf" target="_blank"><img class="pdf-img" src="assets/images/PDF-icon.svg" alt=""></a>
        </p>
        </div>
      <a class="popup__close" href="#references">X</a>
    </div>
  </div>

  <a class="button1" href="#popup2">Carlo Largiader (UHB)</a>
  <div class="popup" id="popup2">
    <div class="popup-inner">
      <div class="popup__photo">
        <img src="assets/images/Refrence_Largiader.svg" alt="">
      </div>
      <div class="popup__text">
        <h1>Internship University Hospital Bern</h1>
        <p>Carlo Largiader allowed me to complete a summer internship in his group at the University Hospital Bern. Please download full-size PDF
          <a href="assets/images/Reference_Vesna.pdf" target="_blank"><img class="pdf-img" src="assets/images/PDF-icon.svg" alt=""></a>
        </p>
        </div>
      <a class="popup__close" href="#references">X</a>
    </div>
  </div>

  <a class="button1" href="#popup4">David Maxwell (UG)</a>
  <div class="popup" id="popup4">
    <div class="popup-inner">
      <div class="popup__photo">
        <img src="assets\images\Refrence_Maxwell_1.svg" alt="">
      </div>
      <div class="popup__text">
        <h1>Undergraduate Program Leader</h1>
        <p>David Maxwell was the course leader for the Neuroscience bachelors program. Please download full-size PDF
          <a href="assets\images\Refrence_Maxwell.pdf" target="_blank"><img class="pdf-img" src="assets/images/PDF-icon.svg" alt=""></a>
        </p>
        </div>
      <a class="popup__close" href="#references">X</a>
    </div>
  </div>

  <a class="button1" href="#popup5">Andrew Todd (UG)</a>
  <div class="popup" id="popup5">
    <div class="popup-inner">
      <div class="popup__photo">
        <img src="assets\images\Refrence_Todd_1.svg" alt="">
      </div>
      <div class="popup__text">
        <h1>Undergraduate Project Supervisor</h1>
        <p>Andrew Todd supervised my undergraduate student project investigating glycinergic inhibitory neurons in the rat spinal cord. Please download full-size PDF
          <a href="assets\images\Refrence_Todd.pdf" target="_blank"><img class="pdf-img" src="assets/images/PDF-icon.svg" alt=""></a>
        </p>
        </div>
      <a class="popup__close" href="#references">X</a>
    </div>
  </div>

</section>
