<section id="skills-section" class="skills-section section text-fade show-on-scroll">
    <h2 class="section-title"><i class="fas fa-rocket"></i>Skills &amp; Proficiency</h2>
    <div class="skillset">        

        <!-- //collapsible recombinant protein -->
        <button type="button" class="collapsible">Make Recombinant protein</button>
        <div class="content">
            <img src="/online-cv/assets/images/Recombinant_protein.svg" class="img-responsive">
            <div class="details">
                <p class="mt-3"><strong>Generation of Recombinant Saposin C</strong> </p>
                <p>
                    During my time at the Karolinska institue I generated recombinant saposin C. This was achieved by making a
                    plasmid that expresses Saposin C under the LacZ promoter. The plasmid was transformed into bacteria and expression
                    was induced with IPTG.
                </p>
                <p>
                    Cell protein was harvested by acid-base extraction. Saposin C was purified by ion-exchange chromatography and I verified it's
                    purity by coomassie staining.
                </p>
            </div>
        </div>

        <!-- //collapsible recombinant protein -->
        <button type="button" class="collapsible">Cell Culture</button>
        <div class="content">
            <img src="/online-cv/assets/images/cell_culture.svg" class="img-responsive">
            <div class="details">
                <p><strong>A)</strong> 
                SH-SY5Y cells I used during my time at the Karolinska institute. For more information please see my publications.
                    I also worked with CAD5 and N2a cell lines and have over 3 years' experience of culturing cell lines.
                </p>                                     
                <p><strong>B)</strong> 
                Bacterial culture was the focus of my Ph.D. I worked on modelling growth rate and protein expression.
                    I worked with Chr. Hansen to improve bacterial survival after freeze drying and have experience with both GMP and
                    industrial pilot scale bacterial manufacturing.
                </p>
                <p><strong>C)</strong>
                During my time at the Karolinska institute I worked with primary neuronal cultures. For more information
                    please see my publications.
                </p>
                <p><strong>D)</strong>
                I have experience in culturing induced pluripotent stem cells and was working on differentiating them into
                    human dopaminergic neurons.
                </p>
            </div>
        </div>

        <!-- //collapsible Python -->
        <button type="button" class="collapsible">Python</button>
        <div class="content">
            <img src="/online-cv/assets/images/Bioreactor.svg" class="img-responsive">
            <div class="details">
                <p class="mt-3"><strong>Building an automated analysis software for our custom built bioreactor</strong> </p>
                <p>
                    Generating growth curves for bacteria manually is a time-consuming and tedious activity performed by laboratories across the world. Using bioreactors can automate this process.
                    However, these are very expensive putting this technology out of reach for many smaller laboratories. Our lab designed a modular bioreactor to make this technology affordable for everyone.
                    I designed an <a href="https://github.com/Betaglutamate/Bioreactor" target="_blank">analysis program that</a> takes raw text files output by the bioreactor and automatically calculates and graphs the growth rates.
                </p>
            </div>
        </div>

        <!-- //collapsible Western Blot -->
        <button type="button" class="collapsible">Western Blot</button>
        <div class="content">
            <img src="/online-cv/assets/images/Western_Blot.svg" class="img-responsive">
            <div class="details">
                <p class="mt-3">
                    During my time at the Karolinska insitute I worked extensively with western blot. Here is an example of cells I treated
                    with siRNA showing a decrease in the target protein.
                </p>
            </div>
        </div>

        <!-- //collapsible R -->
        <button type="button" class="collapsible">R programming</button>
        <div class="content">
            <div class="iframe-container">
                <iframe src="https://markzurbruegg.shinyapps.io/2020_shiny_app/" class="iframe"></iframe>
            </div>
            <div class="details">
                <p class="mt-3">
                    During my time at the Karolinska insitute I worked extensively with western blot. Here is an example of cells I treated
                    with siRNA showing a decrease in the target protein.
                </p>
            </div>
        </div>

        




    </div>  
</section><!--//skills-section-->